﻿html, body {
	height: 100%;
	min-height: 100%;
}
body {
	font-family: "Arial", sans-serif;
	font-size: 15px;
}



#layout {
	position: relative;
}

.cube-container {
	position: relative;
	width: 536px;
	height: 536px;
	margin: 0 auto;
	-moz-perspective: 800px;
}

.cube {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin: -200px 0 0 -200px;
	-moz-transition: -moz-transform 50ms linear;
	-moz-transform-style: preserve-3d;
	-moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.cube figure {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid #fff;
	background-color: rgba(50,50,50,0.8);
	-moz-transform-style: flat;
	/*-moz-backface-visibility: hidden;*/
}
.cube figure:first-child {
	-moz-transform: rotateX(90deg) translateZ(200px);
}
.cube figure:nth-child(2) {	
	-moz-transform: translateZ(200px);
}
.cube figure:nth-child(3) {
	-moz-transform: rotateY(90deg) translateZ(200px);	
}
.cube figure:nth-child(4) {
	-moz-transform: rotateY(180deg) translateZ(200px);
}
.cube figure:nth-child(5) {
	-moz-transform: rotateY(-90deg) translateZ(200px);
}
.cube figure:last-child {
	-moz-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
}

.cube figure i {
	font-style: normal;
	font-size: 4rem;
	font-weight: bold;
	color: #fff;
}

#cube-nav {
	width: 120px;
}
	#cube-nav .nav-button {
		width: 48px;
		padding: 3px 5px;
		border: 1px solid #ccc;
		background: #666;
		color: #fff;
		text-align: center;
		cursor: pointer;
	}
	#cube-nav .nav-button:hover {
		background: #999;
	}
	#cube-nav .left,
	#cube-nav .right {
		float: left;
	}
	#cube-nav .back,
	#cube-nav .front {
		margin: 0 auto;
		clear: left;
	}